* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.App {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10%;
  height: 100vh;
  padding: 5rem;
}

.left, .right {
  flex: 1 1 45%;
  border-radius: .2rem;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  background-color: rgb(252, 95, 173);
}

.right {
  background-color: rgb(86, 116, 201);
}

.input-control {
  width: 100%;
  display: flex;
}

.message-box {
  flex: 1 1 auto;
  height: 100%;
  overflow-y: scroll;
}

.message-box::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.message-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.message-box::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.message-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.input-control > input {
  border: 2px solid #fff;
  outline: none;
  border-radius: .2rem;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  padding: .6rem .4rem;
  flex: 1 0 auto;
}

button {
  padding: 0 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  border-radius: .2rem;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  cursor: pointer;
  background-color: #555;
  font-weight: bold;
  font-size: .8rem;
}

.left-msg-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-msg-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.msg-content {
  padding: .4rem;
  background-color: #fff;
  color: #000;
  border-radius: .2rem;
  font-size: .9rem;
  margin: .2rem;
}

